.guests-container {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, #fffaf0, #f7efe5);
    min-height: 100vh;
  }
  
  .guests-title {
    font-size: 2rem;
    color: #b48b60;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
  }
  
  .guests-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .guest-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
  }
  
  .guest-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #b48b60;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .guest-button:hover {
    background-color: #99724b;
  }
  
  .guests-table {
    width: 80%;
    max-width: 800px;
    margin: 0 auto 20px;
    border-collapse: collapse;
  }
  
  .guests-table th,
  .guests-table td {
    border: 1px solid #ccc;
    padding: 1px;
    text-align: center;
    font-size: 14px; /* ערך זה שולט על גודל הטקסט בתאים */
    height: 30px; /* שולט באורך המשבצות */
  }
  
  .guests-table th {
    background-color: #f5f5f5;
    color: #555;
  }
  
  .delete-button {
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    background-color: #d9534f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #c9302c;
  }
  
  .total-guests {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  
  .back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #b48b60;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: #99724b;
  }
  